.form-container {
    max-width: 400px;
    margin: 50px auto;
    background: #e6fffa; /* Verde claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    text-align: center;
    color: #065f46;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #065f46;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #10b981;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #10b981;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #059669;
}

p {
    text-align: center;
    color: #065f46;
}

a {
    color: #10b981;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.dashboard-container {
    text-align: center;
    margin-top: 50px;
}

.btn-logout {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc2626;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}

.btn-logout:hover {
    background-color: #b91c1c;
}
